<% provide(:title, "edit profile") %>
      <% content_for :prof_pic do %>
      <% if @user.picture?  %>
        <%= image_tag(@user.picture.url, class: "img-responsive", alt: " Profile Picture") %>
        <% else %>
        <%= image_tag(asset_path("default.jpg"), class: " img-responsive", alt: "Profile Picture",size: "200x200") %>
        <% end %>
  <% end %>
<div class="container edit-user">
  <hr>
  <div class="row ">
    <%= form_for(@user,html: { multipart: true ,role: "form",class: "form-horizontal"}) do |f| %>
    <!-- left column -->
    <div class="col-md-2">
      <div class="text-center">
    <%= content_for :prof_pic  %>
        <!-- <img src="//placehold.it/100" class="avatar img-circle" alt="avatar"> -->
        <h6>Upload a different photo...</h6>

        <span class="picture">
          <%= f.file_field :picture,accept: 'image/jpeg,image/gif,image/png' %>
        </span>

      </div>
    </div>

    <!-- edit form column -->
    <div class="col-md-8 personal-info">

      <h3 class="text-center">Personal info</h3>


      <%= render 'shared/error_messages',object: f.object %>
      <div class="form-group">
        <%= f.label :name, class: "col-lg-3 control-label" %>
        <div class="col-lg-8">
          <%= f.text_field :name, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :email , class: "col-lg-3 control-label" %>
        <div class="col-lg-8">
          <%= f.email_field :email, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
      <%= f.label :about , class: "col-lg-3 control-label" %>
        <div class="col-lg-8">
          <%= f.text_field :about, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :password, class: "col-lg-3 control-label" %>
        <div class="col-lg-8">
          <%= f.password_field :password, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, "Confirmation", class: "col-lg-3 control-label" %>
        <div class="col-lg-8">
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label"></label>
        <div class="col-md-8">
          <%= f.submit "Save changes", class: "btn btn-primary" %>
        </div>
      </div>
      <% end %>



    </div>
  </div>
</div>
<hr>

<script type="text/javascript">
$('#user_picture').bind('change', function() {
size_in_megabytes = this.files[0].size/1024/1024;
if (size_in_megabytes > 5) {
alert('Maximum file size is 5MB. Please choose a smaller file.');
}
});
</script>
