<% if action_name == "index" %>
<% provide :title, params[:search] ? "search #{params[:search]}" : "Users" %>
<% else %>
<% provide :title, action_name %>
<% end %>

<div class="container-fluid login-home">
  <div class="row profile">
    <div class="col-md-2">
      <%= render 'shared/sidebar'  %>
    </div>
    <div class="col-md-6 thought-feed">
      <div class="home-feed" >
        <ol  class="well">
          <div class="feed-title ">
            <%= params[:search] ? "Results for #{params[:search]}" : "Users"   %>
          </div>
          <%= render @users %>
        </ol>
        <%= will_paginate @users %>
      </div>      </div>
      <span class="col-md-3 thought-column">
        <%= render 'shared/thoughts_form'  %>
      </span>
    </div>
  </div>
