<li class="well thought-list" >
  <div class="thought-title">
    <% thought_title=thought.title %>
    <% if thought_title.empty? %>
Thought
    <% else %>
      <%= thought_title  %>
    <% end %>
    <span class="by-user">
       by <%= link_to thought.user.name,thought.user %>
    </span>
  </div>
  <div class="thought-content">
    <p>
      <%= thought.content  %>
    </p>
  </div>
  <div class="thought-options">
    <span class="thought-respond" data-id= "<%= thought.id %>" >
      <button class="btn btn-link "> Add thought </button>
    </span>
    <% if thought.user == current_user %>
    <span class="thought-edit-delete">
      <span class="dropdown">
        <button class="btn btn-link  dropdown-toggle" type="button" data-toggle="dropdown" type="button">Options</button>
        <ul class="dropdown-menu ">
          <li><%= link_to "Edit",edit_thought_path(thought),remote: true  %></li>
          <li><%= link_to "Delete",thought_path(thought) ,method: :delete %></li>
        </ul>
      </span>
      <span class="posted-time">
        Posted <%=  time_of_creation(thought.created_at) %>
      </span>
    </span>
    <% end %>
  </div>
</li>
<% responses=thought.response_thoughts %>
<% if responses.any? %>
<ol class="added-thoughts">
  <%= render responses  %>
</ol>
<% end %>


