<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

<%= form_for(:session,url: login_path,html: {id: "signin",  class: "navbar-form navbar-right" , role: "form"}) do |f| %>
<div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <%=f.email_field :email, class: 'form-control', placeholder:"Email" %>
</div>

<div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
  <%=f.password_field :password, class: 'form-control', placeholder: "Password" %>
</div>
<div class="input-group" id="remember">
<%= f.label :remember,"Remeber me?" %>
<%= f.check_box :remember %>
<br/>
<section class="forgot" >
<%= link_to "Forgot password?","#"  %>
</section>
</div>
<%= f.submit "Login", class: "btn btn-primary" %>
<% end %>

</div>
